form.delete input[type=submit],
form.activation input[type=submit]{background:transparent;border:0;padding:0;}
form.delete input[type=submit],
form.activation input[type=submit]{color:#3d497f;border-bottom:1px solid #3d497f;font-family:'MyriadRegular';text-decoration:none;cursor:pointer;}
form.delete input[type=submit]:hover,
form.delete input[type=submit]:focus,
form.delete input[type=submit]:active,
form.activation input[type=submit]:hover,
form.activation input[type=submit]:focus,
form.activation input[type=submit]:active{color:#263b97;border-bottom:1px solid transparent;}

.posts-items{width:100%;}
.posts-items .perex{margin-top:10px;}
.comments-items{width:100%;}

form.activation,
form.activation input[type=submit]{
	display:inline-block;
}

.theme th,
.theme td{text-align:left;}
.theme th.right,
.theme td.right{text-align:right;}
.theme th.center,
.theme td.center{text-align:center;}
.theme td{white-space:nowrap;}
form.post{width:calc(100% - 65px);margin:20px auto;}
form.post label{display:block;text-align:left;}
form.post label span{display:inline-block;width:75px;text-align:right;padding-right:10px;}
form.post input,
form.post textarea{width:calc(100% - 15px);margin-bottom:10px;}
form.post textarea.perex{height:50px;}
form.post textarea.body{height:400px;}
form.post button.send{}
