form.signout{height:21px;margin:0 25px 10px 25px;text-align:right;color:#fff;}
form.signout button[type=submit]{margin-left:5px;color:#fff !important;border-bottom:1px solid #fff !important;}
form.signout button[type=submit]:hover,
form.signout button[type=submit]:focus,
form.signout button[type=submit]:active{border-bottom:0 !important;}

form.signout button[type=submit]{background:transparent;border:0;padding:0;}
a,
form.signout button[type=submit]{color:#3d497f;border-bottom:1px solid #3d497f;font-family:'MyriadRegular';text-decoration:none;cursor:pointer;}
a:hover,
a:focus,
a:active,
form.signout button[type=submit]:hover,
form.signout button[type=submit]:focus,
form.signout button[type=submit]:active{color:#263b97;border-bottom:1px solid transparent;}
a:visited{color:#633d7f;border-bottom:1px solid #633d7f;}
a:visited:hover,a:visited:focus,a:visited:active{color:#263b97;border-bottom:1px solid transparent;}

form.signin{width:75%;margin:15px auto 0 auto;text-align:center;}
form.signin button{margin:10px auto 0 auto;}
form.signin input{width:200px;margin:5px auto;}

div.signin-link{margin:0 25px 10px 25px;text-align:right;color:#fff;}
div.signin-link a{text-align:right;color:#fff;border-bottom-color:#fff;}

form.activation input[type=submit],
form.activation input[type=submit]:hover,
form.activation input[type=submit]:focus,
form.activation input[type=submit]:active,
form.delete input[type=submit],
form.delete input[type=submit]:hover,
form.delete input[type=submit]:focus,
form.delete input[type=submit]:active{background:transparent !important;padding:0 1px !important;height:auto !important;font-weight: inherit !important;}